node_modules/
src/__generated__/
dist/
.env
src/redmine_plugins/redmine_checklists/Gemfile
src/redmine_plugins/redmine_checklists/init.rb
src/redmine_plugins/redmine_checklists/app/controllers/checklist_template_categories_controller.rb
src/redmine_plugins/redmine_checklists/app/controllers/checklist_templates_controller.rb
src/redmine_plugins/redmine_checklists/app/controllers/checklists_controller.rb
src/redmine_plugins/redmine_checklists/app/helpers/checklists_helper.rb
src/redmine_plugins/redmine_checklists/app/models/checklist_template_category.rb
src/redmine_plugins/redmine_checklists/app/models/checklist_template.rb
src/redmine_plugins/redmine_checklists/app/models/checklist.rb
src/redmine_plugins/redmine_checklists/app/models/journal_checklist_history.rb
src/redmine_plugins/redmine_checklists/app/views/checklist_template_categories/_form.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklist_template_categories/edit.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklist_template_categories/new.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklist_templates/_form.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklist_templates/edit.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklist_templates/new.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklists/_checklist_item.html.erb
src/redmine_plugins/redmine_checklists/app/views/checklists/done.js.erb
src/redmine_plugins/redmine_checklists/app/views/checklists/index.api.rsb
src/redmine_plugins/redmine_checklists/app/views/checklists/show.api.rsb
src/redmine_plugins/redmine_checklists/app/views/issues/_checklist_fields.html.erb
src/redmine_plugins/redmine_checklists/app/views/issues/_checklist_form.html.erb
src/redmine_plugins/redmine_checklists/app/views/issues/_checklist.html.erb
src/redmine_plugins/redmine_checklists/app/views/projects/settings/_checklist_templates.html.erb
src/redmine_plugins/redmine_checklists/app/views/settings/checklists/_checklists.html.erb
src/redmine_plugins/redmine_checklists/app/views/settings/checklists/_general.html.erb
src/redmine_plugins/redmine_checklists/app/views/settings/checklists/_template_categories.html.erb
src/redmine_plugins/redmine_checklists/app/views/settings/checklists/_templates.html.erb
src/redmine_plugins/redmine_checklists/assets/javascripts/checklists.js
src/redmine_plugins/redmine_checklists/assets/stylesheets/checklists.css
src/redmine_plugins/redmine_checklists/config/routes.rb
src/redmine_plugins/redmine_checklists/config/locales/bg.yml
src/redmine_plugins/redmine_checklists/config/locales/de.yml
src/redmine_plugins/redmine_checklists/config/locales/en.yml
src/redmine_plugins/redmine_checklists/config/locales/es.yml
src/redmine_plugins/redmine_checklists/config/locales/fr.yml
src/redmine_plugins/redmine_checklists/config/locales/hu.yml
src/redmine_plugins/redmine_checklists/config/locales/it.yml
src/redmine_plugins/redmine_checklists/config/locales/ja.yml
src/redmine_plugins/redmine_checklists/config/locales/ko.yml
src/redmine_plugins/redmine_checklists/config/locales/nl.yml
src/redmine_plugins/redmine_checklists/config/locales/pl.yml
src/redmine_plugins/redmine_checklists/config/locales/pt-BR.yml
src/redmine_plugins/redmine_checklists/config/locales/pt.yml
src/redmine_plugins/redmine_checklists/config/locales/ru.yml
src/redmine_plugins/redmine_checklists/config/locales/sk.yml
src/redmine_plugins/redmine_checklists/config/locales/sv.yml
src/redmine_plugins/redmine_checklists/config/locales/tr.yml
src/redmine_plugins/redmine_checklists/config/locales/uk.yml
src/redmine_plugins/redmine_checklists/config/locales/zh-TW.yml
src/redmine_plugins/redmine_checklists/config/locales/zh.yml
src/redmine_plugins/redmine_checklists/db/migrate/001_create_checklists.rb
src/redmine_plugins/redmine_checklists/db/migrate/002_add_time_stamps_to_checklists.rb
src/redmine_plugins/redmine_checklists/db/migrate/003_create_checklist_template_category.rb
src/redmine_plugins/redmine_checklists/db/migrate/004_create_checklist_templates.rb
src/redmine_plugins/redmine_checklists/db/migrate/005_modify_checklist_subject_length.rb
src/redmine_plugins/redmine_checklists/db/migrate/006_add_fields_to_checklist_template.rb
src/redmine_plugins/redmine_checklists/db/migrate/007_add_is_section_to_checklists.rb
src/redmine_plugins/redmine_checklists/doc/CHANGELOG
src/redmine_plugins/redmine_checklists/doc/COPYING
src/redmine_plugins/redmine_checklists/doc/LICENSE
src/redmine_plugins/redmine_checklists/lib/redmine_checklists.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/hooks/controller_issues_hook.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/hooks/views_issues_hook.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/hooks/views_layouts_hook.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/helper_for_checklists_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/issue_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/issue_query_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/issues_controller_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/issues_helper_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/notifiable_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/project_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/projects_helper_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/queries_helper_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/compatibility/application_helper_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/compatibility/journal_patch.rb
src/redmine_plugins/redmine_checklists/lib/redmine_checklists/patches/compatibility/open_struct_patch.rb
src/redmine_plugins/redmine_checklists/test/test_helper.rb
src/redmine_plugins/redmine_checklists/test/fixtures/checklists.yml
src/redmine_plugins/redmine_checklists/test/functional/checklist_template_categories_controller_test.rb
src/redmine_plugins/redmine_checklists/test/functional/checklist_templates_controller_test.rb
src/redmine_plugins/redmine_checklists/test/functional/checklists_controller_test.rb
src/redmine_plugins/redmine_checklists/test/functional/issues_controller_test.rb
src/redmine_plugins/redmine_checklists/test/integration/common_issue_test.rb
src/redmine_plugins/redmine_checklists/test/integration/api_test/checklists_test.rb
src/redmine_plugins/redmine_checklists/test/unit/checklist_template_category_test.rb
src/redmine_plugins/redmine_checklists/test/unit/checklist_template_test.rb
src/redmine_plugins/redmine_checklists/test/unit/checklist_test.rb
src/redmine_plugins/redmine_checklists/test/unit/issue_test.rb
src/redmine_plugins/redmine_checklists/test/unit/journal_checklist_history_test.rb
src/redmine_plugins/redmine_checklists/test/unit/project_test.rb
